# Ignore everything
*
# Don't ignore directories, so we can recurse into them
!*/
# Don't ignore .gitignore and others
!.gitignore
!*.png
!*.jpg
!*.jpeg
!*.vwf
!*.vhd
!*.qpf
!*.qsf
!*.txt

# Overrule and ignore these
._*
**/db/*

#OLD SHAIT
#*.bak
#**/db/
#**/output_files/
#**/incremental_db/
#**/simulation/
